{% extends "base.html" %}
{% load staticfiles %}
{% block backtwo %}
    <li class="active"><a href="/download/projectName">研一项目</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 style="text-align: center">研一项目</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">记点通道用例</h3>
                    </div>
                     <a href="/download/case/rbc">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">网校通通道用例</h3>
                    </div>
                     <a href="/download/case/wxt">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-3"></div>#}
{#            <div class="col-md-3">#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <h3 class="panel-title">Panel title</h3>#}
{#                    </div>#}
{#                    <a href="">#}
{#                        <div class="panel-body">#}
{#                            <p class="btn btn-success">点击查看详情</p>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <h3 class="panel-title">Panel title</h3>#}
{#                    </div>#}
{#                     <a href="">#}
{#                        <div class="panel-body">#}
{#                            <p class="btn btn-success">点击查看详情</p>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">记点通道用例执行详情</h3>
                    </div>
                     <a href="/download/details/rbc">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">网校通通道用例执行详情</h3>
                    </div>
                     <a href="/download/details/wxt">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">记点通道报告</h3>
                    </div>
                     <a href="/download/report/rbc">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">网校通通道报告</h3>
                    </div>
                     <a href="/download/report/wxt">
                        <div class="panel-body">
                            <p class="btn btn-success">点击查看详情</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}