{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科网自动化管理系统</title>
    <link rel='shortcut icon' href="{% static '/image/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" charset="UTF-8">
    <script type="text/javascript">
        function emptyInput() {
            const doc = document.getElementById("tet").innerHTML = '';
        }
    </script>
</head>
<body>
<div style="text-align: center;margin: 50px auto">
    <h1>学科网自动化测试管理系统</h1>
</div>
<form action="/userinfo/login/" method="post">
    {% csrf_token %}
    <div class="dowebok">
        <div class="logo"></div>
        <div class="form-item">
            <span>账号 :</span>
            <input id="username" type="text" name="username" autocomplete="off" placeholder="请输入账号"
                   onclick="emptyInput()">
            <span id="tet" style="color: red;font-size: 18px">
             {% if massage %}
                 {{ massage }}
             {% endif %}</span>
        </div>
        <div class="form-item">
            <span>密码 :</span>
            <input id="password" type="password" name="pwd" autocomplete="off" placeholder="请输入密码"
                   onclick="emptyInput()">
        </div>
        <div class="form-item">
            <button id="submit">登 录</button>
        </div>
        <div class="reg-bar">
            <a class="reg" href="/userinfo/register">立即注册</a>
            <a class="forget" href="javascript:">忘记密码</a>
        </div>
    </div>
</form>
<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/csrf.js' %}"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
</script>
</body>
</html>
